<div class="container">
  <div class="row justify-content-center">
      <div class="col-xs-6 offset-xs-3">
          <p>Marvel Hero Memory Game!</p>
          <form (ngSubmit)="onSubmit()">
              <div class="form-group">
                  <label for="heroNameSearch">
          
                  </label>
                  <input type="text" class="form-control" autocomplete="off" id="heroNameSearch" required [(ngModel)]="model.search" name="blah" placeholder="Superhero Name">
                  <br />
                  <br />
                  <button type="submit" class="btn btn-success">Search</button>
              </div>
          </form>
          
          <div *ngIf="error" class="alert alert-warning">
              {{error}}
          </div>
          
          <loading-alert *ngIf="searching"></loading-alert>  
      </div>
  </div>
</div>

<app-hero-list [heroList]="heroes"></app-hero-list>