<div class="container">
    <div class="row">
        <div class="col-xs-6 offset-xs-3">
            <p>Marvel Hero Search Form</p>
            <form (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="heroNameSearch">
            
                    </label>
                    <input type="text" class="form-control" autocomplete="off" id="heroNameSearch" required [(ngModel)]="model.search" name="blah" placeholder="Superhero Name">
                    <br />
                    <br />
                    <button type="submit" class="btn btn-success">Search</button>
                </div>
            </form>
            
            <div *ngIf="error" class="alert alert-warning">
                {{error}}
            </div>
            
            <loading-alert *ngIf="searching"></loading-alert>
            
            <app-hero-list [heroList]="heroes"></app-hero-list>
        </div>
    </div>
</div>

