<!-- Homework Section
    Detail page
-->
<p>Marvel Hero Search Form</p>
<form (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="heroNameSearch">

        </label>
        <input type="text" class="form-control" id="heroNameSearch" required [(ngModel)]="model.search" name="blah" placeholder="Superhero Name">
        <br />
        <br />
        <button type="submit" class="btn btn-success">Search</button>
    </div>
</form>

<div *ngIf="error">
    {{error}}
</div>

<loading-alert *ngIf="searching"></loading-alert>    

<!-- <hero-detail [heroData]="hero"></hero-detail> -->

<!-- <div *ngIf="hero && !searching">
    <ul>
        <li>
            Hero Name :: {{hero.name}}
        </li>
        <li>
            Hero Description :: {{hero.description}}
        </li>
    </ul>
</div> -->