<!-- Homework Section
    homework: get input from user into controller from
    have submit button trigger a function
    bonus: actually get stuff done
-->

<form>
    <div class="form-group">
        <label for="heroNameSearch">
            Hero Name to Search For
        </label>
        <input type="text" class="form-control" id="heroNameSearch" required>
        <br />
        <button type="submit" class="btn btn-success">Search</button>
    </div>
</form>

<!-- <div *ngIf="!heroes">
    Loading ...
</div>    
    <div *ngIf="heroes">
    <ul>
        <li *ngFor="let hero of heroes">
            Hero Name :: {{hero.name}} 
            Hero Description :: {{hero.description}}
        </li>
    </ul>
</div> -->